// Colors
$dkRed: #C41F3B;
$bloodRed: #FF4700;
$frostBlue: #67BCFF;
$unholyGreen: #40BC40;
$accentBlue: #618DA6;
$backdrop: #1B1B1B;

// Fonts
$fontMain: 'Raleway', ;
$fontTitle: 'Metal Mania', ;

// Testing
$testBorder1: 5px dashed #59E259;
$testBorder2: 5px dashed red;