@import '_variables.scss';

// !Global //
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: 0;
}

html {
   scroll-behavior: smooth;
   background: black;
   font-family: $fontMain;
   font-weight: 400;
   color: white;
   font-size: 12.8px;
}
h4 {
   font-size: 20px;
}
h3 {
   font-size: 25px;
}
h2 {
   font-size: 31.25px;
}
h1 {
   font-size: 39.06px;
   font-weight: 600;
}

.main {
   width: 100vw;
   margin-top: 6vh;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   letter-spacing: 0.01%;
   .contentFrame {
      width: $contentWidth;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background-color: $backdrop;
      text-align: center;
      position: relative;
      h3 {         
         color: $accentBlue;
      }
   }
}

.wowTooltip {
   color: $dkRed;
   text-decoration: none;

}
// !Nav! //
.navbar {
   z-index: 2;
   position: fixed;
   top: 0;
   display: flex; 
   flex-flow: row nowrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: #0E0E0E;
   width: $contentWidth;
   height: 6vh;
   a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
   }
   .headerLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 35%;
      h1 {
         width: 100%;
      }
      #dkLogo {
         height: 75%;
         position: relative;
         top: 5%;
      }
      .runeforgeTitle {
         color: $dkRed;
         font-weight: 700;
         font-family: $fontTitle;
         font-size: 2em;
      }
   }
   .headerRight {
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      .navButtonGroup {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         align-content: center;
         text-align: center;
         height: 100%;
         margin: auto;
      }
      .navButton {
         font-size: 0.9em;
         color: white;
         cursor: pointer;
         font-weight: 600;
         font-size: 0.8em;
         display: inline-block;
         font-size: 12.8px;
      }
      .navButton:hover {
         color: $accentBlue;
      }
      .discordHeader {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         height: 100%;
         width: 20%;
         a {
            height: 65%;
            width: 40%;
         }
      }
      // *Drop Down* //
      .dropdownContent {
         display: none;
         position: absolute;
         background: #1E1E1E;
         border: 1px solid black;
         font-weight: 600;
      }
      .dropdownContent a {
         color: white;
         display: block;
         padding: 5% 2%;
         text-align: center;
         min-width: 180px;
      }
      .dropdownContent a:hover {
         background-color: #2E2E2E;
         color: $accentBlue;
         transform: ease;
         transition-duration: 0.2s;
      }
      #guidesDropdown:hover .dropdownContent {
         display: block;
      }
      // *Drop Down End* //
   }
}
   
/// Content ///

// !Homepage! //
#homeContent {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 100%;
   width: 100%;
   .welcome {
      color: $dkRed;
      margin-top: 1%;
   }
   p {
      margin-top: 1%;
      width: 80%;
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.8em;
      margin-top: 1%;
      margin-bottom: 4%;
      #joinHereButton
         a {
         text-decoration: none;
         color: $accentBlue;
      }
   }
   .homeBanner {
      width: 100%;
      height: auto;
      border: 3px solid black;
   }
   .siteNav {
      margin-bottom: 4.1%;
      border: none;
      width: 100%;
      background: #0e0e0e;
      border-top: 2px solid black;
      border-bottom: solid black;
   }
}


// !Guides! //
#guideContent {
   position: relative;
   display: flex;
   flex-direction: row;
   text-align: left;
   z-index: 0;
   width: 100%;
   h1 {
      margin-top: 3%;
      margin-bottom: 1%;
      margin-left: 2%;
   }
   h2 {
      margin-left: 2%;
   }
   h3 {
      margin-left: 4%;
   }
   h4 {
      margin-left: 6%;
   }
   h5 {
      margin-left: 6%;
   }
   p {  
      margin-left: 6%;
      line-height: 25px;
      padding-right: 8%;
   }
   ul {
      margin-left: 6%;
   }
   li {
      list-style: none;
      line-height: 34px;
      font-size: 12.8px;
   }
   .legendaryItem {
      color: $legendaryOrange;
   }

   // *** Guide Left *** //
   .guideLeft {
      width: 75%;
      padding-left: 2%;
   }

   // *** Guide Right *** //
   .guideRight {
      width: 25%;
   }
   // !Overview! //
   #overview {
      p {
         margin-top: 1%;
         margin-bottom: 1%;
      }
      .strTick {
         color: #00FF19;
      }
      .weakTick {
         color: #FF0000;
      }
   }

   // !Talents! //
   #talents {
      width: 100%;
      #talentChart {
         margin: 2% 0% 2% 6%;
         margin-bottom: 30px;
         display: grid;
         width: 52%;
         height: auto;
         grid-template-rows: repeat(2, 170px);
         font-weight: 700;
         .talentChartRow {
            border: 0.4px solid #9F9F9F;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 30% 20% 80%;
            padding-left: 10%;
            line-height: 19px;
            align-items: center;
            .talentTiers {
               text-align: right;
            }
            .talentNames {
               color: $dkRed;
               padding-right: 20%;
            }
            li {
               line-height: 19px;
               font-size: 12.8px;
            }
            h4 {
               text-align: center;
               font-size: 14px;
            }
            a {
               padding-left: 3px;
            }
         }        
         #firstBuild {
            background-color: #161616;
         }
         #secondBuild {
            background-color: #222222;
         }
      }
      .talentTierDesc {
         margin-bottom: 6%;
         p {
            margin-bottom: 3%;
         }
         h2 {
            margin-bottom: 2%;
         }
      }    
   }
   // !Legendaries! //
   #legendaries {
      .legendaryBlock {
         margin-bottom: 6%;
      }
   }
   
   // !Stat Weights! //
   #statWeights {
      h1 {
         margin-bottom: 2%;
      }
      h5 {
         font-weight: 600;
         margin-left: 10%;
      }
   }

   // !Enchants & Consumables! //
   #enchantsAndConsumables {
      h1 {
         padding-bottom: 0;
      }
      ul {
         margin-top: 1%;
         margin-bottom: 1%;
      }
      li {
         margin-left: 4%;
      }
   }
}

// !Resources! //
#resourcesContent {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   .twitchStreams {
      display: grid;
      justify-content: center;
      grid-gap: 5%;
      grid-template-areas:
      "a b"
      "c d";
      width: 100%;
      height: 100%;
      .streamFrame {
         width: 100%;
         height: auto;
      }
      #streamOne {
         grid-area: a;
      }
      #streamTwo {
         grid-area: b;
      }
      #streamThree {
         grid-area: c;
      }
      #streamFour {
         grid-area: d;
      }
   }
}

/// !Site Nav Boxes! ///
.siteNav {
   width: 100%;
   margin: auto;
   padding: 2% 4%;
   .guideNavBoxes {
      display: grid;
      grid-template-areas:
      "a b c";
      justify-content: center;
      align-content: center;
      grid-column-gap: 2%;
      h1 {
         font-size: 3.5em;
         z-index: 1;
      }
      .navImg {
         border: 3px solid black;
         width: 100%;
      }
      .bloodBox {
         grid-area: a;
         color: $bloodRed;
         h1 {
            position: absolute;
            pointer-events: none;
         }
      }
      .frostBox {
         grid-area: b;
         color: $frostBlue;
         h1 {
            position: absolute;
            pointer-events: none;
         }
      }
      .unholyBox {
         grid-area: c;
         color: $unholyGreen;
         h1 {
            position: absolute;
            pointer-events: none;
         }
      }
      .navBox {
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: rgb(34, 23, 23);
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: $fontTitle;
      }

   }
}

// !Guide Side Nav //
.guideNav {
   margin-top: 3%;
   text-align: left;
   z-index: 2;
   border-left: 2px solid white;
   padding-left: 0.5%;
   position: fixed;
   ul {
      width: 100%;
   }
   li {
      font-weight: 900;
      list-style: none;
      margin: -3% 0;
   }
   a {
      text-decoration: none;
      color: white;
      padding-left: 3px;
   }
   a:hover {
      color: $accentBlue;
   }
}
.guideDiscordButton {
   position: fixed;
   top: 73%;
   height: 6%;
   width: 10%;
   background-color: #7289DA;
   display: grid;
   border-radius: 8px;
   .fullDiscordImage {
      width: 100%;
      height: auto;
      padding: 1% 5%;
   }
}
// ! Media Queries ! //
// *** Text *** //
@media screen and (max-width: 600px) {
   html {
     font-size: calc(10.24px + 6 * ((100vw - 520px) / 680));
   }
   #guideContent li {
     font-size: calc(10.24px + 6 * ((100vw - 520px) / 680));
   }
   h5 {
     font-size: calc(12.8px + 6 * ((100vw - 520px) / 680));
   }
   h4 {
     font-size: calc(16px + 6 * ((100vw - 520px) / 680));
   }
   h3 {
     font-size: calc(20px + 6 * ((100vw - 520px) / 680));
   }
   h2 {
     font-size: calc(25px + 6 * ((100vw - 520px) / 680));
   }
   h1 {
     font-size: calc(31.25px + 6 * ((100vw - 520px) / 680));
   }
   .guideContent #talents #talentChart {
      width: 80%;
   }
}

// *** Formatting *** //
@media screen and (max-width: 1100px) {
   .main .contentFrame {
      width: 95%;
      #guideContent {
         .guideLeft {
            width: 90%;
         }
         .guideRight {
            display: none;
         }
      }
   }
   .main .navbar {
      width: 95%;
      .headerLeft {
         display: none;
      }
      .headerRight {
         width: 100%;
         .discordHeader {
            display: none;
         }
      }
   }
   .main .siteNav .navBox {
      -webkit-text-stroke-width: 1px;
   }
   // !Home Querries! //
   #homeContent {
      .siteNav {
         .guideNavBoxes {
            display: flex;
            flex-direction: column;
            .navBox {
               margin: 2% 0;
            }
         }
      }
   }
   // !Guide Querries! //
   #guideContent {
      #talents #talentChart {
         width: 90%;
         .talentChartRow li {
            font-size: calc(10.24px + 6 * ((100vw - 520px) / 680));
          }
      }
   }
}
