@import '_variables.scss';

// !Global //
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: 0;
}

html {
   scroll-behavior: smooth;
   background: black;
   font-family: $fontMain;
   font-weight: 400;
   color: white;
}
p {
   font-size: 12.8px;
}
h4 {
   font-size: 20px;
}
h3 {
   font-size: 25px;
}
h2 {
   font-size: 31.25px;
}
h1 {
   font-size: 39.06px;
   font-weight: 600;
}
.wowTooltip {
   color: $dkRed;
   text-decoration: none;

}
// !Nav! //
#navbar {
   z-index: 2;
   position: fixed;
   top: 0;
   box-sizing: content-box;
   display: flex; 
   flex-flow: row nowrap;
   justify-content: space-evenly;
   align-items: center;
   background-color: #0E0E0E;
   border: solid 3px black;
   width: 90%;
   height: 7vh;
   a {
      text-decoration: none;
   }
   #dkLogo {
      height: 100%;
      position: relative;
      top: 5%;
   }
   .runeforgeTitle {
      color: $dkRed;
      font-weight: 700;
      font-family: $fontTitle;
   }
   .headerLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      h1 {
         width: 100%;
      }
   }
   .navButtonGroup {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-content: center;
      text-align: center;
      height: 100%;
      position: relative;
      left: 10%;
   }
   .navButton {
      font-size: 0.9em;
      color: white;
      cursor: pointer;
      font-weight: 600;
   }
   .navButton:hover {
      color: $accentBlue;
   }
   #discordHeader {
      width: 8%;
      height: auto;
      position: relative;
      top: 5%;
      img {
         fill: blue;
      }
   }
   // *Drop Down* //
   .dropdownContent {
      display: none;
      position: absolute;
      background: #1E1E1E;
      border: 1px solid black;
      font-weight: 600;
   }
   .dropdownContent a {
      color: white;
      display: block;
      padding: 5% 2%;
      text-align: center;
      min-width: 180px;
   }
   .dropdownContent a:hover {
      background-color: #2E2E2E;
      color: $accentBlue;
      transform: ease;
      transition-duration: 0.2s;
   }
   #guidesDropdown:hover .dropdownContent {
      display: block;
   }
   // *Drop Down End* //
}
   
/// Content ///
// !Global! //
.main {
   width: 100vw;
   margin-top: 3.5vw;
   display: flex;
   flex-flow: column nowrap;
   border: 3px solid black;
   align-items: center;
   letter-spacing: 0.01%;
   .contentFrame {
      width: 90%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background-color: $backdrop;
      text-align: center;
      border: 3px solid black;
      position: relative;
      h3 {         
         color: $accentBlue;
      }
   }
}

/// !Site Nav Boxes! ///
.siteNav {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #121212;
   margin-top: 2%;
   border-top: 3px solid black;
   border-bottom: 3px solid black;
   .guideNavBoxes {
      display: grid;
      grid-template-areas:
      "a b c";
      justify-content: center;
      align-content: center;
      margin: 0% 0;
      grid-column-gap: 5%;
      box-sizing: content-box;
      h1 {
         font-size: 2.7em;
         z-index: 1;
      }
      .navImg {
         border: 3px solid black;
         height: auto;
         width: 100%;
         box-sizing: content-box;
      }
      .bloodBox {
         grid-area: a;
         color: $bloodRed;
         display: flex;
         justify-content: center;
         align-items: center;
         h1 {
            position: absolute;
            pointer-events: none;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: black;
         }
      }
      .frostBox {
         grid-area: b;
         color: $frostBlue;
         display: flex;
         justify-content: center;
         align-items: center;
         h1 {
            position: absolute;
            pointer-events: none;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: black;
         }
      }
      .unholyBox {
         grid-area: c;
         color: $unholyGreen;
         display: flex;
         justify-content: center;
         align-items: center;
         h1 {
            position: absolute;
            pointer-events: none;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
         }
      }
   }
}

// !Homepage! //
#contentFrame {
   width: 90%;
   display: flex;
   flex-flow: column nowrap;
   background-color: $backdrop;
   #homeContent {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 3px solid black;
      .welcome {
         color: $dkRed;
         margin-top: 1%;
      }
      p {
         margin-top: 1%;
         width: 55%;
         font-size: 1em;
         font-weight: 400;
         #joinHereButton a {
            text-decoration: none;
            color: $accentBlue;
         }
      }
      .homeBanner {
         width: 100%;
         height: auto;
         border: 3px solid black;
         box-sizing: content-box;
      }
      .siteNav {
         margin-bottom: 4%;
      }
   }
}

// !Guide Side Nav //
.guideNav {
   position: fixed;
   bottom: 32%;
   left: 75%;
   width: 220px;
   border-left: 3px solid $accentBlue;
   padding-left: 10px;
   text-align: left;
   width: auto;
   font-size: 0.8rem;
   z-index: 2;
   li {
      line-height: 25px !important;
      font-weight: 900;
      list-style: none;
   }
   a {
      text-decoration: none;
      color: white;
      padding-left: 3px;

   }
}

// !Guides! //
#guideContent {
   position: relative;
   text-align: left;
   padding: 3% 11% 0% 3%;
   z-index: 0;
   h1 {
      margin-top: 2%;
      margin-left: 2%;
   }
   h2 {
      margin-left: 2%;
   }
   h3 {
      margin-left: 4%;
   }
   h4 {
      margin-left: 6%;
   }
   h5 {
      margin-left: 6%;
   }
   p {  
      margin-left: 6%;
      width: 75%;
      line-height: 25px;
      padding-right: 8%;
   }
   ul {
      margin-left: 6%;
   }
   li {
      list-style: none;
      line-height: 34px;
      font-size: 12.8px;
   }
   // !Overview! //
   #overview {
      p {
         margin-top: 1%;
         margin-bottom: 1%;
      }
      .strTick {
         color: #00FF19;
      }
      .weakTick {
         color: #FF0000;
      }
   }

   // !Talents! //
   #talents {
      margin-top: 20px;
      #talentChart {
         margin: 2% 0% 2% 6%;
         margin-bottom: 30px;
         display: grid;
         width: 52%;
         height: auto;
         grid-template-rows: repeat(2, 170px);
         font-weight: 700;
         .talentChartRow {
            border: 0.4px solid #9F9F9F;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: 30% 20% 80%;
            padding-left: 10%;
            line-height: 19px;
            align-items: center;
            .talentTiers {
               text-align: right;
            }
            .talentNames {
               color: $dkRed;
               padding-right: 20%;
            }
            li {
               line-height: 19px;
               font-size: 12.8px;
            }
            h4 {
               text-align: center;
               font-size: 14px;
            }
            a {
               padding-left: 3px;
            }
         }        
         #firstBuild {
            background-color: #161616;
         }
         #secondBuild {
            background-color: #222222;
         }
      }
      .talentTierDesc {
         img {
            width: 56%;
            height: auto;
            margin: 2% 0% 2% 4%;
         }
         p {
            margin-bottom: 2%;
         }
         h2 {
            margin-bottom: 2%;
         }
      }    
   }
   // !Legendaries! //
   #legendaries {
      a {
         color: $legendaryOrange;
      }
      .legendaryBlock {
         margin-bottom: 2%;
      }
   }
   
   // !Stat Weights! //
   #statWeights {
      h5 {
         font-weight: 600;
         margin-left: 10%;
      }
   }

   // !Enchants & Consumables! //
   #enchantsAndConsumables {
      h1 {
         padding-bottom: 0;
      }
   }
}

// !Resources! //
#resourcesContent {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   .twitchStreams {
      display: grid;
      justify-content: center;
      grid-gap: 5%;
      grid-template-areas:
      "a b"
      "c d";
      width: 100%;
      height: 100%;
      .streamFrame {
         width: 100%;
         height: auto;
      }
      #streamOne {
         grid-area: a;
      }
      #streamTwo {
         grid-area: b;
      }
      #streamThree {
         grid-area: c;
      }
      #streamFour {
         grid-area: d;
      }
   }
}